<!-- SIDENAV  -->
<div class="wrapper">
	<div class="nav flex-column nav-pills bg-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="position: fixed;"> <!-- REMOVE THE INLINE STYLING FOR A FULL NAV BUT IT'S STICKY -->
		<ul class="list-unstyled components">	
			<li class="active">
				<a  class="nav-link btn-dark" 
					href="#v-pills-discover"
					data-toggle="pill"
					role="tab"
					aria-controls="v-pills-discover" 
					aria-selected="true"
					id="v-pills-discover-tab"><i class="fas fa-compact-disc"></i>   Discover</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-projects"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-projects"
					aria-selected="false"
					id="v-pills-projects-tab"><i class="fas fa-cubes"></i>   Projects</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-creators"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-creators"
					aria-selected="false"
					id="v-pills-creators-tab"><i class="fas fa-podcast"></i>   Creators</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-genres"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-genres"
					aria-selected="false"
					id="v-pills-genres-tab"><i class="fas fa-database"></i>  Genres</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-videos"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-videos"
					aria-selected="false"
					id="v-pills-videos-tab"><i class="fas fa-video"></i>  Videos</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-shop"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-shop"
					aria-selected="false"
					id="v-pills-shop-tab"><i class="fas fa-shopping-bag"></i>  Shop</a>
			</li>
		</ul>
	</div><!--  END SIDEBAR -->
</div><!--  END WRAPPER -->