<!-- SIDENAV  -->
<div class="wrapper">
	<div class="nav flex-column nav-pills bg-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="position: fixed;"> <!-- REMOVE THE INLINE STYLING FOR A FULL NAV BUT IT'S STICKY -->
		<ul class="list-unstyled components">	
			<li class="active">
				<a  class="nav-link btn-dark" 
					href="#v-pills-discovery"
					data-toggle="pill"
					role="tab"
					aria-controls="v-pills-discovery"
					aria-selected="true"
					id="v-pills-discovery-tab"><i class="fas fa-donate"></i>  Discovery</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-barter"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-barter"
					aria-selected="false"
					id="v-pills-barter-tab"><i class="fas fa-crown"></i>   Bid Wars</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-vending"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-vending"
					aria-selected="false"
					id="v-pills-vending-tab"><i class="fas fa-diagnoses"></i>   Vendors</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-hotdeals"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-hotdeals"
					aria-selected="false"
					id="v-pills-hotdeals-tab"><i class="fas fa-dice"></i>  Hot-Deals</a>
			</li>
			<li><a  class="nav-link btn-dark" 
					href="#v-pills-shop"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-shop"
					aria-selected="false"
					id="v-pills-shop-tab"><i class="fas fa-shopping-bag"></i>  Shop</a>
			</li>
			<li><a  class="nav-link btn-dark"
					href="#v-pills-videos"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-videos"
					aria-selected="false"
					id="v-pills-videos-tab"><i class="fas fa-video"></i>  Media</a>
			</li>
			<li><a  class="nav-link btn-dark"
					href="#v-pills-account"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-account"
					aria-selected="false"
					id="v-pills-account-tab"><i class="fas fa-help"></i>  Account</a>
			</li>
			<li><a  class="nav-link btn-dark"
					href="#v-pills-profile"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-profile"
					aria-selected="false"
					id="v-pills-profile-tab"><i class="fas fa-help"></i>  My Profile</a>
			</li>
			<li><a  class="nav-link btn-dark"
					href="#v-pills-help"
					data-toggle="pill"
					role="tab"
					aria-control="v-pills-help"
					aria-selected="false"
					id="v-pills-help-tab"><i class="fas fa-help"></i>  Help/Learn</a>
			</li>
		</ul>
	</div><!--  END SIDEBAR -->
</div><!--  END WRAPPER -->