<% include header %>

<!-- TOP NAVIGATION -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a href="/" class="navbar-brand d-inline-block">
    <img  src="https://cdn.discordapp.com/attachments/597642196530888704/623383567459680287/Dreams-N-Things-Logo-111x111-min.png"
          width="50" 
          height="50" 
          alt="Are you Lost?">
  </a>
  <a href="/" class="navbar-brand d-inline-block">
    <a href="/" class="navbar-brand mb-0 h1">Dreams-N-Things</a>
  </a>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header form-inline">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="wrapper">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="nav navbar-right">
        <li><a href="/signup" class="btn btn-dark"><i class="fa fa-door-closed"></i>   Register</a></li>
        <li><a href="/login" class="btn btn-dark"><i class="fa fa-door-open"></i>  Login</a></li>
      </ul>
    </div><!--  end registration wrapper -->
  </div><!-- /.container-fluid -->
</nav>



