<% include partials/header %>
<div class="jumbotron">
    <p class="jumbo-hdr">Just using for TOP PADDING!</p>
</div>
<!--============================|
*   Widgets by backwardgraphic
*     Magento Bootstrapped
============================-->
<!--Left nav category search bar -->
<!--with main content area-->
<p>Come back later I gotta work on some CRUD PHP Magento V2</p>





<!-- Multi-tabbed card deck -->
<div class="container">
     <h1 class="display-2">Multi-tabbed Card Deck</h1>
     <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-mens-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Men's</a>
                                <a class="nav-item nav-link" id="nav-womens-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Women's</a>
                                <a class="nav-item nav-link" id="nav-outdoor-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Outdoor</a>
                            </div>
                        </nav>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-mens-tab">
                                <h2 class="card-title">Men's Wear</h2>
                                <p class="card-text">
                                    Bacon ipsum dolor amet tenderloin t-bone venison, acon ball tip short ribs t-bone.
                                    Picanha tenderloin cow shoulder ip short.
                                </p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-womens-tab">
                                <h2 class="card-title">Women's Wear</h2>
                                <p class="card-text">
                                    Bacon ipsum dolor amet tenderloin t-bone venison, shoulder.
                                    Picanha tenderloin cow loin ball tip buffalo alcatra.
                                </p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-outdoor-tab">
                                <h2 class="card-title">Outdoor Gear</h2>
                                <p class="card-text">
                                    Picanha tenderloin cow shoulder beef, prosciutto tri-tip short loin ball tip buffalo alcatra.
                                </p>
                                <a href="#" class="btn btn-primary">Shop</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Column-->
    </div> <!-- End Row-->
</div> <!--End Container-->


<!-- BLURB-CARD-CATS -->
<div class="container">
    <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Men's Wear</h2>
                    <p class="card-text">
                        Bacon ipsum dolor amet tenderloin t-bone venison, acon ball tip short ribs t-bone.
                        Picanha tenderloin cow shoulder ip short.
                    </p>
                    <a href="#" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div><!-- END COLUMN 1 MENS GEAR -->
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Women's Wear</h2>
                    <p class="card-text">
                        Bacon ipsum dolor amet tenderloin t-bone venison, shoulder.
                        Picanha tenderloin cow loin ball tip buffalo alcatra.
                    </p>
                    <a href="#" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div><!-- END COLUMN 2 WOMENS GEAR -->
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Outdoor Gear</h2>
                    <p class="card-text">
                        Picanha tenderloin cow shoulder beef, prosciutto tri-tip short loin ball tip buffalo alcatra.
                    </p>
                    <a href="#" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div><!-- END COLUMN 3 OUTDOOR -->
        <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Misc. Stuff</h2>
                    <p class="card-text">
                        Picanha tenderloin cow shoulder beef, prosciutto tri-tip short loin ball tip buffalo alcatra.
                    </p>
                    <a href="#" class="btn btn-primary">Shop</a>
                </div>
            </div>
        </div><!-- END COLUMN 4 MICSALANIOUS -->
    </div>
</div>
<hr>
<!-- QUOTE OF THE DAY -->
<div class="container">
    <div class="container-fluid">
        <div class="card text-center" style="max-width: 18rem; margin-left: 35%; margin-right: 35%;">
            <div class="card-header">
                Quote of the Day
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p><em>“People often say that motivation doesn’t last. Well, neither does bathing, that’s why we recommend it daily.”</em></p>
                    <footer class="blockquote-footer"><cite title="Source Title">Zig Ziglar</cite></footer>
                </blockquote>
            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-success">Something</a> | <a href="#" class="btn btn-success">Something</a>
            </div>
        </div>
    </div>
</div>


<!-- PAGE HEADER -->
<div class="jumbotron">
    <div id="discover-header">
        <h1>Discover The Sounds of Pure Bliss!</h1>
    </div>
    <hr class="my-4">
    <p>Music streaming 24/7, daily additions, risings stars, classics, and your underground hits, We are the creators! - <em>Dreams N things</em></p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Subscribe Now</a>
    </p>
</div>

<hr style="margin-top: 5%;">

<!-- NEW ADDITIONS (STATIC) - This will update dynamically later -->
<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <img src="https://content.ticketarena.co.uk/remote.axd/i.scdn.co/image/9ddcd940dbc07c37a8139c6ae74cd65ad9dc71fa?width=560&height=560&mode=crop" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">To Be Announced....</h5>
                <p class="card-text">
                    Let's Pick a More relevant artist and add it to the remote mongodb and access it from there instead of having a static BS-Card
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 30 Years Ago</small>
                <button class="btn btn-sm btn-dark center">Start Stream</button>
            </div>
        </div>
        <div class="card">
            <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MC Hammer</h5>
                <p class="card-text">
                    "U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 30 Years Ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MC Hammer</h5>
                <p class="card-text">
                    "U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 30 Years Ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MC Hammer</h5>
                <p class="card-text">
                    "U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 30 Years Ago</small>
            </div>
        </div>
    </div> <!-- END CARD GROUP -->
</div>



<div style="padding: 5%;">
    <p></p>
</div>

<div class="jumbotron">
    <p class="jumbo-hdr">Just using for TOP PADDING!</p>
</div>

<!--Removed from home / landing refactor job-->
	 <div class="row">
		<div class="col col-md-6">
			 	<img src="https://i0.wp.com/dreamsnthings.com/wp-content/uploads/2019/06/banner-new-week1.png?w=640&ssl=1" alt="Weekly Uploads" width="100%" height="80%">
			 	<!-- <img src="../../public/lib/media/jumbo/banner-new-week1.png" alt="Weekly Uploads" width="100%" height="100%"> -->
			</div>
			<div class="col col-md-6 colRight">
			 	<div class="jumbotron text-light">
			 		<h2>This Week's Upload Promotions</h2>
			 		<p>
			 			Take advantage of PERKS to get exclusive prizes and more. >>>New tracks this week includes tracks from Life Dutchee featuring Stalley, J.Halkz featuring Day and last but not least Molotov Mall featuring Key Dolla.
			 		</p>
			 		<button onclick="/" class="btn btn-dark">Projects</button>
			 		<button onclick="/" class="btn btn-dark">Perks</button>
			 	</div>
		 	</div>
	 	</div> <!-- END 2ND ROW -->
<% include partials/footer %>