.wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.bg-dark {
	background-color: #353535 !important;
}

.btn-dark {
	background-color: #353535 !important;
	border-color: #353535 !important;
}

.paddin-rmv {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}


/* =============================|
	Sidenav Main Menu Styles    |
===============================*/
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    z-index: 0;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
	position: relative;
}

/* ===================================|
	Background Jumbo Slider Styles    |
====================================*/
.jumbotron {
	background-color: #000;
	border-radius: 0px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 10px black;
}

.jumbo-hdr {
	background-image: url("../lib/images/landing/bruno-kelzer-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.col img {
	padding-bottom: 50%;
	background-color: #000;
}

.col-md-6 {
	max-width: 100%;
	padding-right: 0px;
}

.colRight {
	padding-left: 0px;
}

.jumbotron p {
	color: #808080;
}

/* Discovery Zone */
#discover-header {
	z-index: 1;
	position: relative;
	padding-top: 5vh;
}

#discover-header h1 {
	color: #fff;
}




/* ===============================|
	Footer Music Stream Styles    |
=================================*/
.page-footer a {
	font-size: 24px;
}