<div class="tab-pane fade" id="v-pills-accnt" role="tabpanel" aria-labelledby="v-pills-home_accnt-tab"> 
	<div class="container-fluid"><h1>My Account Page</h1></div>
	<button class="btn">Account Button</button>
</div> <!-- END PROFILE AREA -->