<!-- Project Page -->
<div class="tab-pane fade" id="v-pills-barter" role="tabpanel" aria-labelledby="v-pills-barter-tab">
	<div class="container-fluid">
		<div style="padding-bottom: 50%;">
			<h1>The Barter / Bid / Offer Arena</h1>
			<!-- start under this -->
			<div>

			</div>


		</div>
	</div>

</div> <!-- END PROJECT PAGE -->