<!-- ============== -->
<!-- DISCOVERY ZONE -->
<!-- ============== -->
<div class="tab-pane fade" id="v-pills-discovery" role="tabpanel" aria-labelledby="v-pills-discovery-tab">
	<!-- PAGE HEADER -->
	<div class="jumbotron">
	  <div id="discovery-header">
		<h1>Discover New/Used Items</h1>
			<p>Discover New Offers and Barter Deals</p>
			<p>Discover New Outlets and Gain Customer Base!</p>
	  </div>
	  <hr class="my-4">
	  <p>No advertising listing, Buy Sell Barter Order Pickup Stock up. The sky is literally the limit -<em>uPawn</em>Direct</p>
	  <p class="lead">
	  	<p>Join and Login for Additional Features!</p>
	    <a class="btn btn-dark btn-lg" href="#" role="button">Join</a>
	  </p>
	</div>
	<!-- NEW ADDITIONS (STATIC) - This will update dynamically later -->
	<div class="container-fluid">
		<div class="card-deck">
		  <div class="card">
		    <img src="https://content.ticketarena.co.uk/remote.axd/i.scdn.co/image/9ddcd940dbc07c37a8139c6ae74cd65ad9dc71fa?width=560&height=560&mode=crop" class="card-img-top" alt="...">
		    <div class="card-body">
		      <h5 class="card-title">Item 1</h5>
		      <p class="card-text">
		      	Item Description - would be awesome with an image slider inside the card :)
		      </p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 30 Years Ago</small>
		      <button class="btn btn-sm btn-dark center">Start Stream</button>
		    </div>
		  </div>
		  <div class="card">
		    <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
		    <div class="card-body">
		      <h5 class="card-title">MC Hammer</h5>
		      <p class="card-text">
		      	"U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
		      </p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 30 Years Ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
		    <div class="card-body">
		      <h5 class="card-title">MC Hammer</h5>
		      <p class="card-text">
		      	"U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
		      </p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 30 Years Ago</small>
		    </div>
		  </div>
		  <div class="card">
		    <img src="https://img.discogs.com/LvZSq7eGDH7aYiPJJFU82_5bvF4=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-387487-1242562463.jpeg.jpg" class="card-img-top" alt="...">
		    <div class="card-body">
		      <h5 class="card-title">MC Hammer</h5>
		      <p class="card-text">
		      	"U Can't Touch This" is a song cowritten, produced and performed by MC Hammer from his 1990 album Please Hammer, Don't Hurt 'Em. It is considered to be his signature song and is his most successful single.
		      </p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">Last updated 30 Years Ago</small>
		    </div>
		  </div>
		</div> <!-- END CARD GROUP -->
	</div> <!-- END CONTAINER -->
</div> <!-- END ACCOUNT MENU CONTENT -->