<div class="tab-pane fade" id="v-pills-help" role="tabpanel" aria-labelledby="v-pills-help-tab">
	<div style="padding-bottom: 50%;">
		<div class="container-fluid">
			<h1>Walkthrough Help and FAQS etc</h1>
			<!-- start under this -->
			<div>

			</div>



		</div>
	</div>

</div> <!-- END PROFILE AREA -->