<!-- The Genre Page -->
<div class="tab-pane fade" id="v-pills-hotdeals" role="tabpanel" aria-labelledby="v-pills-hotdeals-tab">
	<div style="padding-bottom: 50%">
		<div class="container-fluid">
			<h1>The HotDeals Collection</h1>
			<!-- start under this -->







		</div>
	</div>

</div> <!-- END GENRE PAGE -->