<!-- START LANDING PARTIAL -->
<div class="tab-pane fade show active" 
	 id="v-pills-home" role="tabpanel" 
	 aria-labelledby="v-pills-home-tab">

	 <!--=========================|
	 	jumbo-hdr - Custom Class
	 |==========================-->
	 <div class="jumbotron jumbo-hdr" style="margin-bottom: 0px">
	 	<!-- 2 columns -->
	 	<!-- = Both Call 2 Action Style -->
	 	<div class="row">
	 		<div class="col col-md-6">
	 			<h1>Free Submission</h1>	
	 			<button class="btn btn-primary">Ready</button>
	 		</div>
	 		<div class="col col-md-6 text-center">
	 			<h1>Make</h1>
	 			<h2><span style="color: #48abff;">$$$</span></h2><!-- INLINE STYLING REMOVE LATER -->
	 			<h1>Today</h1>
	 		</div>
		</div>
	 </div>	
	 <div class="row">
		<div class="col col-md-6">
			 	<img src="https://i0.wp.com/dreamsnthings.com/wp-content/uploads/2019/06/banner-new-week1.png?w=640&ssl=1" alt="Weekly Uploads" width="100%" height="80%">
			 	<!-- <img src="../../public/lib/media/jumbo/banner-new-week1.png" alt="Weekly Uploads" width="100%" height="100%"> -->
			</div>
			<div class="col col-md-6 colRight">
			 	<div class="jumbotron text-light">
			 		<h2>This Week's Upload Promotions</h2>
			 		<p>
			 			Take advantage of PERKS to get exclusive prizes and more. >>>New tracks this week includes tracks from Life Dutchee featuring Stalley, J.Halkz featuring Day and last but not least Molotov Mall featuring Key Dolla.
			 		</p>
			 		<button onclick="/" class="btn btn-dark">Projects</button>
			 		<button onclick="/" class="btn btn-dark">Perks</button>
			 	</div>
		 	</div>
	 	</div>
	<hr>
</div><!-- END LANDING PARTIAL  -->