<!-- START LANDING PARTIAL -->
<div class="tab-pane fade show active" 
	 id="v-pills-home" role="tabpanel" 
	 aria-labelledby="v-pills-home-tab">

	 <!--=========================|
	 	jumbo-hdr - Custom Class
	 |==========================-->
	 <div class="jumbotron jumbo-hdr" style="margin-bottom: 0px">
	 	<!-- 2 columns -->
	 	<!-- = Both Call 2 Action Style -->
	 	<div class="row">
	 		<div class="col col-md-6">
	 			<h1>Become a Vendor</h1>
	 			<button class="btn btn-primary">See How</button>
	 		</div>
	 		<div class="col col-md-6 text-center">
	 			<h1>Sell your stuff</h1>
	 			<h2><span style="color: #48abff;">$$$</span></h2><!-- INLINE STYLING REMOVE LATER -->
	 			<h1>With Confidence</h1>
	 		</div>
		</div>
	 </div>
	<hr>
</div><!-- END LANDING PARTIAL  -->