<!-- The Shop Area -->
<div class="tab-pane fade" id="v-pills-shop" role="tabpanel" aria-labelledby="v-pills-shop-tab">
	<div style="padding-bottom: 50%;">
		<div class="container-fluid">
			<h1>The Shop Area</h1>
			<!-- 3 cards - starter items -->
			<div class="row">
				<div class="col col-md-4">
					<div class="card">
					<!--	<img src="../../public/lib/images/products/slmodd-vendor-1/outdoor-bike-nexxt-mountain-1.1.jpg"
							 class="card-img-top" alt="Red Nexxt Mountain Bike">	Doesn't work ????? -->
						<img src="../../public/lib/images/products/slmodd-vendor-1/outdoor-bike-nexxt-mountain-1.1.jpg"
							 class="card-img-top" alt="Red Nexxt Mountain Bike">
						<div class="card-body">
							<h5 class="card-title">Red Nexxt Mountain Bike</h5>
							<p class="card-text">
								One of the first items to make it to the uPawnDirect application. We have this great
								condition mountain bike up for sale. It is ready for many miles great for commuting
								and staying in shape.
							</p>
							<ul>
								<li>Shipping Available</li>
								<li>Local Pickup Available</li>
								<li>Dropoff Available</li>
							</ul>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last Updated 30 Minutes Ago</small>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="card">
						<img src=""
							 class="card-img-top" alt="White Mountain Bike">
						<div class="card-body">
							<h5 class="card-title">White Mountain Bike</h5>
							<p class="card-text">
								One of the second items to make it to the uPawnDirect application. We have this great
								mountain bike up for sale. It is ready for many miles great for commuting
								and staying in shape.
							</p>
							<ul>
								<li>Shipping Available</li>
								<li>Local Pickup Available</li>
								<li>Dropoff Available</li>
							</ul>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last Updated 1 hour Ago</small>
						</div>
					</div>
				</div>
				<div class="col col-md-4">
					<div class="card">
						<img src=""
							 class="card-img-top" alt="Purple Mountain Bike Frame">
						<div class="card-body">
							<h5 class="card-title">Purple Mountain Bike Frame (Serial # Verified)</h5>
							<p class="card-text">
								One of Three items to make it to the uPawnDirect application. We have this great
								condition mountain bike frame up for sale. It is ready for the someone to pair it with
								some nice parts and put some eXtreme mileage on this great frame.
							</p>
							<ul>
								<li>Shipping Available</li>
								<li>Local Pickup Available</li>
								<li>Dropoff Available</li>
							</ul>
						</div>
						<div class="card-footer">
							<small class="text-muted">Last Updated 2 hours Ago</small>
						</div>
					</div>
				</div>
			</div>









		</div>
	</div>
</div> <!-- END SHOP AREA -->